<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" class="toolbar-center">
      <ion-button class="boton-home" (click)="volverAtras()">
        <ion-icon name="home-outline" class="icono-home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mozo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="block" fill="solid" routerLink="/chat"
    >Responder consultas</ion-button
  >
</ion-content>
