<ion-content fullscreen="true" class="pagina-mesa fondo-con-imagen">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="primary" class="toolbar-center">
        <ion-button class="boton-home" (click)="volverAtras()">
          <ion-icon
            name="arrow-back-circle-outline"
            class="icono-home"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="contenedor-flex">
    <ion-card class="custom-card">
      <div class="visor-info">
        <div>
          <h2 class="importe">${{ importeTotal }}</h2>
          <h2 class="demora">{{ demora }} min</h2>
        </div>
        <ion-button
          size="large"
          fill="solid"
          color="success"
          (click)="terminarPedido()"
        >
          <ion-icon name="checkmark-sharp" size="large"></ion-icon>
        </ion-button>
      </div>
    </ion-card>

    <div class="contenido-listado">
      @if (productos.length > 0) { @for (producto of productos; track
      producto.id) {
      <ion-card class="custom-card">
        <swiper-container>
          <swiper-slide>
            <img [src]="producto.foto_1" class="galeria-img" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="producto.foto_2" class="galeria-img" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="producto.foto_3" class="galeria-img" />
          </swiper-slide>
        </swiper-container>

        <ion-card-header>
          <div class="nombre-precio">
            <span class="titulo-nombre">{{ producto.nombre }}</span>
            <span class="titulo-precio">$ {{ producto.precio }}</span>
          </div>
        </ion-card-header>

        <ion-card-content>
          <p class="descripcion-producto">{{ producto.descripcion }}</p>
          <p class="descripcion-producto">
            Tiempo estimado: {{ producto.tiempo }} minutos
          </p>
        </ion-card-content>

        <div class="visor-footer-card">
          <div class="visor-cantidad">
            <ion-button
              fill="solid"
              shape="round"
              color="light"
              (click)="disminuirCantidad(producto)"
            >
              <ion-icon
                slot="icon-only"
                name="remove-circle"
                size="large"
              ></ion-icon>
            </ion-button>

            <p>{{ producto.cantidad }}</p>

            <ion-button
              fill="solid"
              shape="round"
              color="light"
              (click)="aumentarCantidad(producto)"
            >
              <ion-icon
                slot="icon-only"
                name="add-circle"
                size="large"
              ></ion-icon>
            </ion-button>
          </div>

          <ion-button
            fill="solid"
            shape="round"
            color="success"
            (click)="agregarProducto(producto)"
          >
            Agregar
          </ion-button>
        </div>
      </ion-card>
      } } @else {
      <p style="text-align: center; margin-top: 2rem">
        No se encontraron productos.
      </p>
      }
    </div>
  </div>

  <!-- Alerta flotante -->
  <div class="alerta-overlay" *ngIf="modalAlerta">
    <div class="alerta-flotante">
      <h2>{{ tituloAlerta }}</h2>
      <p>{{ mensajeAlerta }}</p>
      <ion-button
        size="small"
        expand="block"
        class="boton-cerrar-alerta"
        (click)="mostrarModalAlerta(false)"
      >
        Aceptar
      </ion-button>
    </div>
  </div>
</ion-content>
