<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" class="toolbar-center">
      @if(!mostrarPedidosPendientes){
        <ion-button class="boton-home" (click)="volverAtras()">
          <ion-icon name="home-outline" class="icono-home" size="large"></ion-icon>
        </ion-button>
      }@else {
        <ion-button (click)="mostrarPedidosPendientes = false">
      <ion-icon name="arrow-back-circle-outline" class="icono-home" size="large"></ion-icon>
    </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="fondo ion-padding">
  <div class="menu-container" *ngIf="!mostrarPedidosPendientes">
    <ion-button
      expand="block"
      fill="solid"
      class="boton-opcion"
      (click)="mostrarPedidosPendientes = true"
    >
      Ver pedidos pendientes
    </ion-button>
  </div>
  <div *ngIf="mostrarPedidosPendientes">
    <div *ngIf="pedidos.length > 0" class="contenedor-flex">
      <ion-card *ngFor="let pedido of pedidos" class="custom-card" [ngClass]="pedido.estado">
        <ion-card-content>
          <div class="scroll-card">
            <ion-card-header>
          <div class="mesa-demora">
            <span class="titulo-mesa">Mesa {{ pedido.mesa }}</span>
            <ion-button color="success" (click)="prepararProducto(pedido.id)"> preparar</ion-button>
          </div>
        </ion-card-header>

            <ion-list>
              <ion-item>
                <ion-label class="texto-parte-pedido" [ngClass]="pedido.estado">
                  {{ pedido.producto_nombre }} x {{ pedido.cantidad}}
                </ion-label>
              </ion-item>
            </ion-list>

          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
