
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" class="toolbar-center">
      <ion-button class="boton-home" (click)="volverAtras()">
        <ion-icon name="home-outline" class="icono-home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="fondo">


  <!-- Menú principal -->
  <div class="menu-container" *ngIf="formActivo === null">

    <ion-button expand="block" class="boton-opcion" (click)="formActivo = 'duenio'">
      ALTA DE DUEÑO / SUPERVISOR
    </ion-button>
    <ion-button expand="block" class="boton-opcion" (click)="formActivo = 'empleado'">
      ALTA DE EMPLEADO
    </ion-button>
    <ion-button expand="block" class="boton-opcion" (click)="formActivo = 'altaClientes'">
      APROBAR NUEVOS CLIENTES
    </ion-button>
  </div>

  <!-- Form Alta Dueño/Admin -->
  <form *ngIf="formActivo === 'duenio'" [formGroup]="formDuenio" (ngSubmit)="guardarDuenio()" class="formulario">
    <ion-item>
      <ion-input formControlName="nombre" placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="apellido" placeholder="Apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="dni" type="number" placeholder="DNI"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="confirmar" type="password" placeholder="Confirmar contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select formControlName="rol" placeholder="Seleccionar rol">
        <ion-select-option value="admin">Admin</ion-select-option>
        <ion-select-option value="dueño">Dueño</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" color="success">
      GUARDAR
    </ion-button>

    <ion-button class="boton-volver" (click)="formActivo = null">
      VOLVER
    </ion-button>
  </form>

  <!-- Form Alta Empleado -->
  <form *ngIf="formActivo === 'empleado'" [formGroup]="formEmpleado" (ngSubmit)="guardarEmpleado()" class="formulario">
    <ion-item>
      <ion-input formControlName="nombre" placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="apellido" placeholder="Apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="dni" type="number" placeholder="DNI"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="cuil" type="text" placeholder="CUIL"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="confirmar" type="password" placeholder="Confirmar contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select formControlName="rol" placeholder="Seleccionar rol">
        <ion-select-option value="mozo">Mozo</ion-select-option>
        <ion-select-option value="cocinero">Cocinero</ion-select-option>
        <ion-select-option value="barra">Barra</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" color="success">
      GUARDAR
    </ion-button>

    <ion-button class="boton-volver" (click)="formActivo = null">
      VOLVER
    </ion-button>
  </form>

  <!-- Aprobar Nuevos Clientes -->
  <div *ngIf="formActivo === 'altaClientes'" class="formulario">
    <h2 class="ion-text-center" class="texto-blanco">
      Aprobar Nuevos Clientes
    </h2>
    <div *ngIf="clientesPendientes.length === 0" class="ion-text-center">
      <p class="texto-blanco">No hay clientes pendientes de aprobación.</p>
    </div>
    <ion-list *ngIf="clientesPendientes.length > 0">
      <ion-card *ngFor="let cliente of clientesPendientes" class="card-cliente">
        <ion-card-content class="contenido-card">
          <div class="imagen-usuario">
            <img src="{{cliente.imagen_url}}" alt="foto usuario">
          </div>
          <h3>{{ cliente.nombre }} {{ cliente.apellido }}</h3>
          <p>{{ cliente.email }}</p>
          <p>DNI: {{ cliente.dni }}</p>
          <p>CUIL: {{ cliente.cuil }}</p>

          <div class="botones-aprobacion">
            <ion-button class="boton-aprobar" (click)="aprobarCliente(cliente)">
              Aprobar
            </ion-button>
            <ion-button class="boton-rechazar" (click)="abrirModalRechazo(cliente)">
              Rechazar
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-button class="boton-volver" (click)="formActivo = null">
      VOLVER
    </ion-button>
  </div>

  <ion-modal [isOpen]="modalRechazoVisible" (didDismiss)="cerrarModalRechazo()" class="modal-transparente">
    <ng-template>
      <div class="modal-rechazo-wrapper">
        <div class="modal-rechazo-box">
          <div class="modal-header">
          </div>

          <p class="modal-mensaje">
            ¿Estás seguro de que querés rechazar al cliente<br />
            <strong>{{ clienteSeleccionado?.nombre }} {{ clienteSeleccionado?.apellido }}</strong>?
          </p>

          <ion-item lines="none" class="modal-item">
            <ion-textarea [(ngModel)]="motivoRechazo" placeholder="Motivo del rechazo" auto-grow="true" rows="4"
              class="modal-textarea"></ion-textarea>
          </ion-item>

          <ion-button expand="block" size="large" class="boton-rechazo-confirmar" (click)="confirmarRechazo()">
            CONFIRMAR RECHAZO
          </ion-button>

          <ion-button expand="block" size="large" class="boton-rechazo-volver" (click)="cerrarModalRechazo()">
            VOLVER
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>