<ion-header>
  <ion-toolbar>
    <ion-title>Meitre</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" shape="round" (click)="salir()" color="danger">
        SALIR
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="fondo ion-padding">
  <div class="menu-container">
    <ion-button
      expand="block"
      class="boton-opcion"
      color="primary"
      (click)="formClienteActivo = true"
    >
      ALTA DE CLIENTE
    </ion-button>

    <ion-button expand="block" class="boton-opcion" color="primary">
      LISTA DE ESPERA
    </ion-button>

    <ion-button expand="block" class="boton-opcion" color="primary">
      RELEVAMIENTO LUGAR DE TRABAJO
    </ion-button>

    <ion-button expand="block" class="boton-opcion" color="primary">
      VER ENCUESTAS DE OTROS EMPLEADOS
    </ion-button>
  </div>
</ion-content>
