<ion-content [fullscreen]="true">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="loguearse()"
    class="contenedor-flex"
  >
    <ion-card class="imagen-card">
      <img src="../assets/logo_splash.png" alt="logo_mesa404" />
    </ion-card>

    <ion-text *ngIf="mensajeError" class="mensaje-rechazo">
      <p class="ion-padding">{{ mensajeError }}</p>
    </ion-text>

    <ion-card class="login-card">
      <ion-card-header></ion-card-header>

      <ion-card-content>
        <div class="input-group">
          <ion-item>
            <ion-input
              type="email"
              formControlName="email"
              placeholder="Correo electrónico "
            ></ion-input>
          </ion-item>
          <div
            class="error-tooltip"
            *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
          >
            <span *ngIf="loginForm.get('email')?.hasError('required')"
              >El correo es obligatorio</span
            >
            <span *ngIf="loginForm.get('email')?.hasError('email')"
              >Formato de correo inválido</span
            >
          </div>
        </div>

        <div class="input-group">
          <ion-item>
            <ion-input
              [type]="verPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Contraseña"
            >
            </ion-input>
            <ion-button
              fill="clear"
              slot="end"
              (click)="verPassword = !verPassword"
            >
              <ion-icon [name]="verPassword ? 'eye-off' : 'eye'"></ion-icon>
            </ion-button>
          </ion-item>
          <div
            class="error-tooltip"
            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
          >
            La contraseña es obligatoria
          </div>
        </div>
        <br />
        <ion-text color="medium" class="texto-anonimo">
          <p class="ion-text-center">
            O continuar como
            <strong (click)="ingresoAnonimo()">Anonimo</strong>
          </p>
        </ion-text>

        <div class="boton-container">
          <ion-button
            expand="block"
            type="submit"
            [disabled]="loginForm.invalid"
            color="danger"
          >
            <ion-icon name="log-in-outline" size="large"></ion-icon>
          </ion-button>

          <ion-button expand="block" color="warning" (click)="irARegistro()">
            REGISTRARSE
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" color="warning" (click)="mostrarUsuarios = true">
      INICIO RÁPIDO
    </ion-button>
  </form>

  <!-- ✅ OVERLAY DE USUARIOS RÁPIDOS -->
  <div *ngIf="mostrarUsuarios" class="overlay-usuarios">
    <ion-button
      fill="clear"
      color="dark"
      (click)="mostrarUsuarios = false"
      class="cerrar-btn"
    >
      ❌
    </ion-button>

    <div class="lista-usuarios">
      <div
        class="usuario-card"
        *ngFor="let u of usuarios"
        (click)="autocompletar(u.email, u.pass)"
      >
        <img [src]="u.img" alt="{{ u.nombre }}" />
        <p>{{ u.nombre }}</p>
      </div>
    </div>
  </div>
</ion-content>
