<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="loguearse()" class="contenedor-flex">
    <!-- Card de login -->
    <ion-card class="login-card">
      <ion-card-header>
      </ion-card-header>

      <ion-card-content>

        <!-- EMAIL -->
        <div class="input-group">
          <ion-item>
            
            <ion-input type="email" formControlName="email" placeholder="pepito@pepito.com"></ion-input>
          </ion-item>
          <div class="error-tooltip" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
            <span *ngIf="loginForm.get('email')?.hasError('required')">El correo es obligatorio</span>
            <span *ngIf="loginForm.get('email')?.hasError('email')">Formato de correo inválido</span>
          </div>
        </div>

        <!-- PASSWORD -->
        <div class="input-group">
          <ion-item>
            
            <ion-input type="password" formControlName="password" placeholder="clave secreta">
              <ion-input-password-toggle slot="end" color="danger"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
          <div class="error-tooltip" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            La contraseña es obligatoria
          </div>
        </div>


        <!-- BOTÓN -->
        <div class="boton-container">
          <ion-button expand="block"  type="submit" [disabled]="loginForm.invalid" color="danger">
            <ion-icon name="grid-sharp"></ion-icon>
          </ion-button>
        </div>

      </ion-card-content>


      <!-- Card Imagen al fondo, adaptativa -->
    </ion-card>
    <ion-card class="imagen-card">
      <img src="../assets/logo_splash.png" alt="logo_kinetico" />
    </ion-card>

    <!-- En cada autocompletar poner el mail y contraseña de cada usuario, eje autocompletar('anonimo@anonimo.com', '123456')-->

    <!-- Card con los accesos rápidos  -->
    <ion-card class="login-card">
      <ion-list>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../assets/login/avatar_dueño.png"/>
          </ion-avatar>
          <ion-label>Dueño</ion-label>
          <ion-button slot="end" color="secondary" (click)="autocompletar('prueba@prueba.com', '123456')"> 
            <ion-icon name="star" slot="end"></ion-icon>
            Seleccionar
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../assets/login/avatar_empleado.png"/>
          </ion-avatar>
          <ion-label>Empleado</ion-label>
          <ion-button slot="end" color="tertiary" (click)="autocompletar('invitado@invitado.com', '222222')">
            <ion-icon name="star" slot="end"></ion-icon>
            Seleccionar
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../assets/login/avatar_cliente.png"/>
          </ion-avatar>
          <ion-label>Cliente</ion-label>
          <ion-button slot="end" color="danger" (click)="autocompletar('usuario@usuario.com', '333333')">
            <ion-icon name="star" slot="end"></ion-icon>
            Seleccionar
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../assets/login/avatar_anonimo.png" />
          </ion-avatar>
          <ion-label>Anónimo</ion-label>
          <ion-button slot="end" color="success" (click)="autocompletar('tester@tester.com', '555555')">
            <ion-icon name="star" slot="end"></ion-icon>
            Seleccionar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>

  </form>


</ion-content>