ion-content {
    --background: none;
  background-color: #000000; /* Color de fondo */
  background-image: url("/assets/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: auto !important;
}

ion-header ion-toolbar {
  --background: #d22f19;
  --color: black;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toolbar-center {
  width: 100%;
  justify-content: center;
  display: flex;
}

.boton-home {
  --background: #d22f19; // color de fondo
  --color: black; // color del ícono (texto)
  border-radius: 20%; // opcional si lo querés circular
  width: 58px;
  height: 48px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono-home {
  color: white;
  font-size: 100px;
}

.custom-card {
  background-color: #4b6584; // Color propuesto (gris azulado)
  border-radius: 16px;
  margin: 12px;
  padding: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  color: white;
}

ion-card-header {
  padding: 8px 0;
}

.mesa-demora {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

.titulo-mesa,
.titulo-demora {
  font-size: 1.2rem;
  font-weight: 600;
}

.titulo-precio {
  font-size: 1.4rem;
  font-weight: 600;
}

ion-list {
  background: transparent !important;
  margin-top: 10px;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 36px;
  border: none;
  box-shadow: none;
}

.texto-parte-pedido {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 6px;
}
