<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" class="toolbar-center">
      <ion-button class="boton-home" (click)="volverAtras()">
        <ion-icon name="arrow-back-circle-outline" class="icono-home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="pedidos.length > 0" class="contenedor-flex">
    <ion-card
      *ngFor="let pedido of pedidos"
      class="custom-card"
      [ngClass]="pedido.estado"
    > 

    
      <ion-card-content>
        <div class="scroll-card">
          <ion-card-header>
            <div class="mesa-demora">
              <span class="titulo-mesa">Mesa {{ pedido.mesa_id }}</span>
              <span class="titulo-demora">Demora: {{ pedido.demora_total }} min</span>
            </div>
          </ion-card-header>

          <!-- Mostrar siempre los productos con estilo unificado -->
          <ion-list *ngIf="pedido.detalle?.length">
            <ion-item *ngFor="let item of pedido.detalle">
              <ion-label class="texto-parte-pedido" [ngClass]="item.estado">
                {{ item.producto_nombre }} x {{ item.cantidad }}
              </ion-label>
            </ion-item>
          </ion-list>

          <!-- Fallback si no hay detalle, usa productos simples -->
          <ion-list *ngIf="!pedido.detalle?.length && pedido.productos?.length">
            <ion-item *ngFor="let item of pedido.productos">
              <ion-label class="texto-parte-pedido">
                {{ item.nombre }} x {{ item.cantidad }}
              </ion-label>
            </ion-item>
          </ion-list>

          <!-- Botones solo si el estado es entregado -->
          <ion-row *ngIf="pedido.estado === 'entregado'" class="botones-acciones">
            <ion-col>
              <ion-button expand="block" color="success" (click)="confirmarPedido(pedido)">
                Confirmar recepción
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" color="danger" (click)="rechazarPedido(pedido)" [routerLink]="['/chat']" >
                Rechazar pedido
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-text *ngIf="pedidos.length === 0" class="ion-padding texto-blanco">
    <p>No hay pedidos pendientes.</p>
  </ion-text>
</ion-content>
