<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary" class="toolbar-center">
      <ion-button class="boton-home" (click)="volverAtras()">
        <ion-icon name="arrow-back-circle-outline" class="icono-home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div *ngIf="pedidos.length > 0" class="contenedor-flex">
    <ion-card
      *ngFor="let pedido of pedidos"
      class="custom-card"
    >



      <ion-card-content>
        <div class="scroll-card">
          <!-- Header: Mesa, demora e importe -->
          <ion-card-header>
            <div class="mesa-demora">
              <span class="titulo-mesa">Mesa {{ pedido.mesa_id }}</span>
              <span class="titulo-demora">Demora: {{ pedido.demora_total }} min</span>
              <span class="titulo-demora">Total: ${{ pedido.importe_total  + montoPropina}}</span>

            </div>
          </ion-card-header>

          <!-- Lista de productos detallados -->
          <ion-list *ngIf="pedido.detalle?.length">

            <ion-item *ngFor="let item of pedido.detalle">
              <ion-label class="texto-blanco" [ngClass]="item.estado">
                {{ item.producto_nombre }} - {{ item.cantidad }}u. ${{item.precio_unitario}}
              </ion-label>
            </ion-item>
          </ion-list>

          <!-- Fallback si no hay detalle, mostrar productos simples -->
          <ion-list *ngIf="!pedido.detalle?.length && pedido.productos?.length">
            <ion-item *ngFor="let item of pedido.productos">
              <ion-label class="texto-parte-pedido">
                {{ item.nombre }} - {{ item.cantidad }}
              </ion-label>
            </ion-item>
          </ion-list>

          <!-- Botones para estado 'entregado' -->
          <ion-row *ngIf="pedido.estado === 'entregado'" class="botones-acciones">
            <ion-col>
              <ion-button expand="block" color="r" (click)="confirmarPedido(pedido)">
                Confirmar
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button
                expand="block"
                color="danger"
                (click)="rechazarPedido(pedido)"
                [routerLink]="['/chat']"
                [queryParams]="{ mesa: pedido.mesa_id }"
              >
                Rechazar
              </ion-button>
            </ion-col>
          </ion-row>

          <!-- Botones para estado 'pedido_listo_pagar' -->
          <ion-row *ngIf="pedido.estado === 'pedido_listo_pagar'" class="botones-acciones">
            <ion-col>
              <ion-button expand="block" color="success" (click)="marcarPagoPendienteConfirmacion()">
                Confirmar
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button
                expand="block"
                color="danger"
                (click)="rechazarPedido(pedido)"
                [routerLink]="['/chat']"
                [queryParams]="{ mesa: pedido.mesa_id }"
              >
                Rechazar
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button expand="block" color="warning" (click)="escanearQRPropina()">
                Propinas
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Mensaje cuando no hay pedidos -->
  <ion-text *ngIf="pedidos.length === 0" class="ion-padding texto-blanco">
    <p>No hay pedidos pendientes.</p>
  </ion-text>

  <div class="alerta-overlay" *ngIf="modalAlerta">
    <div class="alerta-flotante">
      <h2>{{ tituloAlerta }}</h2>
      <p>{{ mensajeAlerta }}</p>
      <ion-button size="small" expand="block" class="boton-cerrar-alerta" (click)="mostrarModalAlerta(false)">
        Aceptar
      </ion-button>
    </div>
  </div>

  
</ion-content>


