ion-content {
    --background: none;
  background-color: #000000; /* Color de fondo */
  background-image: url("/assets/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: auto !important;
}

ion-header ion-toolbar {
  --background: #d22f19;
  --color: black;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toolbar-center {
  width: 100%;
  justify-content: center;
  display: flex;
}

.boton-home {
  --background: #d22f19; // color de fondo
  --color: black; // color del ícono (texto)
  border-radius: 20%; // opcional si lo querés circular
  width: 58px;
  height: 48px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono-home {
  color: white;
  font-size: 100px;
}

.custom-card {
  background-color: #4b6584; // Color propuesto (gris azulado)
  border-radius: 16px;
  margin: 12px;
  padding: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  color: white;
}

ion-card-header {
  padding: 8px 0;
}

.mesa-demora {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
}

.titulo-mesa,
.titulo-demora {
  font-size: 1rem;
  font-weight: 600;
}

.titulo-precio {
  font-size: 0.9rem;
  font-weight: 600;
}

.pendiente
{
  background-color: #ffee8c !important;
}

.listo
{
  background-color: #1b7f45 !important;

}
.entregado
{
  background-color: #1b7f45 !important;
}

ion-list {
  background: transparent !important;
  margin-top: 10px;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 36px;
  border: none;
  box-shadow: none;
}


.texto-blanco {
  font-size: 1.3rem; 
  font-weight:bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.mesa-verificada .alerta-flotante {
  background-color: #2e7d32 !important; /* Verde oscuro */
  color: white;
}

/* ✅ Botón "Aceptar" blanco con texto verde */
.mesa-verificada .boton-cerrar-alerta {
  --background: #ffffff;
  --color: #2e7d32;
}

.alerta-flotante {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  width: 90%;
  max-width: 320px;
  padding: 1.5rem 1rem;
  background-color: #f44336;
  color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  animation: aparecer 0.4s ease-out;
}

.alerta-flotante h2 {
  margin: 0 0 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.alerta-flotante p {
  margin: 0 0 1rem;
  font-size: 1rem;
  line-height: 1.4;
}

.boton-cerrar-alerta {
  --background: #ffffff;
  --color: #f44336;
  --border-radius: 10px;
  font-weight: bold;
  font-size: 0.95rem;
}



