<ion-content [fullscreen]="true" class="pagina-cliente">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="primary" class="toolbar-center">
        <ion-button class="boton-home" (click)="volverAtras()">
          <ion-icon name="home-outline" class="icono-home"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Ícono QR + botón escanear -->
  <div class="scanner-container" *ngIf="estadoCliente === 'ninguno'">
    <ion-icon name="qr-code-outline" class="icono-qr"></ion-icon>

    <ion-button
      expand="block"
      class="boton-escanear"
      (click)="escanearQR()"
      [disabled]="procesando"
    >
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>
      {{ procesando ? 'Procesando...' : 'Escanear código QR para ingresar al local' }}
      <ion-spinner slot="end" *ngIf="procesando"></ion-spinner>
    </ion-button>

    <!-- Boton encuestas -->
    <ion-button expand="block"class="boton-escanear" [disabled]="procesando" routerLink="/resultados-encuestas">
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
      Ver encuestas de otros clientes
    </ion-button>
  </div>

  <!-- Estado mostrado al cliente -->
  <div *ngIf="estadoCliente !== 'ninguno'" class="estado-cliente">
    <ion-icon name="restaurant-outline" class="icono-estado"></ion-icon>
    <ion-text>
      <h2>{{ mensajeEstado }}</h2>
    </ion-text>
  </div>
</ion-content>
