<ion-content fullscreen="true" class="pagina-mesa">
  <div [ngClass]="{ 'mesa-verificada': mesaVerificada }">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="primary" class="toolbar-center">
          <ion-button class="boton-home" (click)="volverAtras()" [disabled]="modalAlerta">
            <ion-icon name="home-outline" class="icono-home"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!-- QR no verificado -->
    <div class="scanner-container" *ngIf="!mesaVerificada">
      <ion-icon name="checkbox-outline" class="icono-qr"></ion-icon>
      <ion-button expand="block" class="boton-escanear" (click)="escanearQR()" [disabled]="procesando || modalAlerta">
        <ion-icon name="qr-code-outline" slot="start"></ion-icon>
        {{ procesando ? 'Procesando...' : 'Escanear código QR para ingresar a su mesa' }}
        <ion-spinner slot="end" *ngIf="procesando"></ion-spinner>
      </ion-button>
    </div>

    <!-- QR verificado -->
    <div class="scanner-container" *ngIf="mesaVerificada">
      <div class="mesa-numero">
        <p>{{ mesaAsignada }}</p>
      </div>

      <ion-img src="assets/mesa.png" class="imagen-mesa" alt="Mesa confirmada"></ion-img>

      <!-- ESTADO: NINGUNO -->
      <ion-button
        expand="block"
        class="boton-opcion"
        *ngIf="estadoPedido === 'ninguno' && !pedidoIniciadoLocalmente"
        (click)="iniciarPedido()"
      >
        Realizar pedido
      </ion-button>

      <ion-button
        expand="block"
        disabled
        class="boton-opcion"
        [routerLink]="['/estado-pedido']"
        [queryParams]="{ mesa: mesaAsignada }"
        *ngIf="pedidoIniciadoLocalmente == true && estadoPedido == 'ninguno'"
      >
        Pedido Pendiente a confirmar
      </ion-button>

      <!-- ESTADO: CONFIRMADO -->

      <ion-button
      expand="block"
      class="boton-opcion"
      (click)="verEstadoPedidoEscaneandoQR()"
      *ngIf="estadoPedido == 'confirmado'"
      >
        Ver estado del pedido
      </ion-button>

      <!-- ESTADO: Teminado -->
      <ion-button
        expand="block"
        class="boton-opcion"
        (click)="verEstadoPedidoEscaneandoQR()"
        *ngIf="estadoPedido == 'entregado'"
      >
        Juegos
      </ion-button>

      <ion-button
        expand="block"
        class="boton-opcion"
        [routerLink]="['/pagar']"
        *ngIf="estadoPedido === 'entregado'"
      >
        Pagar
      </ion-button>

      <!-- CONSULTA AL MOZO (siempre que tenga mesa) -->
      <ion-button
        expand="block"
        class="boton-opcion"
        [routerLink]="['/chat']"
        [queryParams]="{ mesa: mesaAsignada }"
      >
        Consulta al mozo
      </ion-button>

      <!-- ENCUESTA -->
      @if(this.hizoEncuesta){
        <ion-button expand="block" class="boton-escanear" [disabled]="procesando" routerLink="/resultados-encuestas">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          Ver encuestas de otros clientes
        </ion-button>
      }@else {
        <ion-button
          expand="block"
          class="boton-opcion"
          [routerLink]="['/encuesta']"
          [queryParams]="{ mesa: mesaAsignada }"
          *ngIf="estadoPedido == 'entregado'"
        >
          Realizar encuesta
        </ion-button>
      }
    </div>

    <!-- MODAL ALERTA -->
    <div class="alerta-overlay" *ngIf="modalAlerta">
      <div class="alerta-flotante">
        <h2>{{ tituloAlerta }}</h2>
        <p>{{ mensajeAlerta }}</p>
        <ion-button size="small" expand="block" class="boton-cerrar-alerta" (click)="mostrarModalAlerta(false)">
          Aceptar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<div class="botones-test">
  <ion-button fill="outline" size="small" color="success" (click)="simularQR(true)">
    Simular QR correcto
  </ion-button>
  <ion-button fill="outline" size="small" color="danger" (click)="simularQR(false)">
    Simular QR incorrecto
  </ion-button>
</div>

<div class="botones-test">
  <ion-button fill="outline" size="small" color="warning" (click)="simularCambioEstadoPedido('pendiente')">
    Simular pedido pendiente
  </ion-button>
  <ion-button fill="outline" size="small" color="tertiary" (click)="simularCambioEstadoPedido('confirmado')">
    Simular pedido confirmado (TOMI NUEVO)
  </ion-button>
  <ion-button fill="outline" size="small" color="medium" (click)="simularCambioEstadoPedido('entregado')">
    Simular pedido entregado
  </ion-button>
  <ion-button fill="outline" size="small" color="medium" (click)="simularCambioEstadoPedido('ninguno')">
    Reset estado de pedido
  </ion-button>
</div>


